/.project
/*.png
/*.pyc
/*~
/plot_lineNT.csv
/plot_lineS.csv
/pythonShellScratch
/test.py
/testPV.py
/testOut/
/testOut?/
/testPandoc/
/testOutJson/
/testKPIreaderJSON/
/testOutJson2/
/outputs/
/backup_PycharmFiles/
